.header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header {
	background: $dark-blue;
	margin: 0;	
	padding:12px 0;
}
.header-title {
    color: #ffffff;
    text-decoration:none;
   }
   .page-header{
       background: #f7f7f7;
       padding: 26px 0;
       margin-bottom: 20px;
   }
.button-link {
	background: none;
	color: #f7f7f7;
	padding: 16px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
}
.navigationBG {
	background-color: $light-gray;
	border-bottom: 1px solid darken($light-gray, 10%)
}
.navigation {
    padding: $m-size 0;
}
.navigation a {
    color: $dark-blue;
    text-decoration: none;
	padding: 8px;
}
.navigation a:hover {
    border-bottom: 2px solid darken($dark-blue, 10%)
}
.is-active {
    font-weight: bold;
}
